@import "bootstrap-variables";
@import "font-awesome";
@import "lato";


body {
  font-family: 'latoregular', sans-serif;
}
h1, h2 {
  font-family: 'latoblack'; 
}
h3 {
  font-family: 'latosemibold'; 
}
.main {
  padding-top: 20px;
}
.navbar-fixed-top {
  border-width: 0;
  background-color: $teal;
}

.navbar-default {
  background-image: none;

  .navbar-toggle {
    background-color: desaturate(lighten($teal, 13%), 10%);
    border-style: none;
    &:focus,
    &:hover {
      background-color: $lt-green;
    }

    .icon-bar {
      background-color: $white;
    }
  }
  .navbar-collapse.nav-collapse.collapsing,
  .navbar-collapse.nav-collapse.collapse.in {
    background: #efefef;

    @media (max-width:767px){
      margin: 0;
      padding: 0;
      border-bottom: 2px solid #C5C5C5;
    }
  }
  .navbar-header {
    background-color: $teal;
  }
  .navbar-brand {
    padding: 8px 15px;
    img {
      height: 36px;
    }
  }
}


/* Mobile Search (768px and below) */

.navbar-form {
  @media (max-width:767px){
    margin: 0;
    padding: 2px 5px;
    background: #DDDDDD;
    border-bottom: 1px solid #C5C5C5;
  }
  .form-group {
    margin-bottom: 1px;
  }
}

/* Side Bar */

div.sidebar {
  background: #dfe4e5;
  padding: 0;
}

/* Sidebar & Mobile Table of contents */
.sidebar,
.mobile-nav {

  .navbar-collapse {
    padding: 0;
  }

  ul {
    padding: 0;
  }

  .toctree-l1 {
    border-bottom: 1px solid #cbd6d8;

    &.current {
      background-color: #efefef;
    }

    a {
      font-size: 14px;
      color: $link-color;

      &:hover {
        color: darken($link-color, 30%);
        text-decoration: none;
        @media (max-width:767px){
          background-color: #E2E2E2;
        }
      }

      &.reference.internal {
        display: block;
        padding: 8px 10px;
        color: $teal;
        font-family: "latosemibold";
      }
    }
    
    ul {
      padding: 0 0 10px;
      @media (max-width:767px){
          padding: 0;
        }

      .toctree-l2 {

        a {
          &.reference.internal {
            padding: 5px 5px 5px 20px;
            color: $link-color;
            font-family: "latoregular";
            @media (max-width:767px){
             border-top: 1px dotted #D8D8D8;
            }

            &:hover {
              color: darken($link-color, 30%);
              text-decoration: none;
              @media (max-width:767px){
               background-color: #E2E2E2;
              }
            }
            &:focus {
              @media (max-width:767px){
               background-color: #E2E2E2;
              }
            }
          }
        }
      }
    }
  }
}


/* Breadcrumbs */

.breadcrumb {

  li:nth-child(2):before {
      content: '';
      padding: 0;
  }
  .breadcrumbs-aside {
    float: right;
    @media (max-width:767px){
     display: none;
    }
    &:before {
      display: none;
    }
  }
}


/*header link icon */
a.headerlink  {
  color: #CCCCCC;
  visibility: hidden;
  font-size: 14px;
  &:after {
    visibility: visible;
    content: "\f0c1";
    font-family: FontAwesome;
    display: inline-block;
  }
  &:hover {
    color: $link-color;
  }
}

/* Tables */

table {
  border: 1px solid #DDDDDD;
  word-break: break-word;

  tr {
    &.row-odd {
      background-color: #F2F2F2;
    }
  }
  &.footnote {
    border: none;
    &.table {
      th,td {
        border-top: none;
      }
    }
    border: none;
    td {
      border-top: none;
    }
  }
  td {
    
  }
}
.section {
  table {
    width: auto;
  }
}

/* Responsive images */

.section img {
  max-width: 100%;
}

/* Footer */
.footer {
  margin-top: 30px;
}

/* Alerts */
.alert-info {
  background-image: none;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

.fa,
.rst-content .admonition-title,
.rst-content h1 .headerlink,
.rst-content h2 .headerlink,
.rst-content h3 .headerlink,
.rst-content h4 .headerlink,
.rst-content h5 .headerlink,
.rst-content h6 .headerlink,
.rst-content dl dt .headerlink,
.icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rst-content h1 .headerlink:after,
.rst-content h2 .headerlink:after,
.rst-content h3 .headerlink:after,
.rst-content h4 .headerlink:after,
.rst-content h5 .headerlink:after,
.rst-content h6 .headerlink:after,
.rst-content dl dt .headerlink:after {
  visibility: visible;
  content: "\f0c1";
  font-family: FontAwesome;
  display: inline-block;
}