/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  font-variant: common-ligatures;
  line-height: 1.4;
  text-align: justify;
  /* These don't have great cross-browser support, but they're optional
   * enhancements in any case: */
  hyphens: auto;
  hanging-punctuation: first;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1em;
    border: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
  color: #222;
  font-variant: small-caps;
  text-decoration: none;
}

/* Just the small-caps links at the top-level of a link UL */
div > ul > li > a {
  font-size: 102%;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Sorts Mill Goudy', serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a.headerlink {
  color: #eff0f1;
  visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
  visibility: visible;
}

.main-nav {
  text-align: center;
}

.next-prev {
  text-align: center;
  color: #222;
}

div.nav {
  width: 20em;
  left: -21em;
  position: fixed;
  top: 50px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0 2px 2px 0;
  transition: all 0.5s ease-in-out;
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 90vh;
  box-shadow: 2px 2px 5px #555;
  z-index: 10;
}

div.nav .caption {
  display: none;
}

nav > ul {
  list-style: none;
  padding-left: 0;
}

ul ul a {
  font-variant: none;
}

.toggle {
  display: block;
  margin: 0.5em;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
}

.ribbon {
  padding: 0 0 10px 0;
  position: fixed;
  left: 0.5em;
  top: 0em;
  width: 26px;
}

.ribbon div {
  background: #333;
  background: linear-gradient(#555 0%, #333 100%);
  color: #fff;
  padding: 0.5em 0;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  height: 1em;
}

.ribbon div:after {
  border-left: 13px solid #333;
  border-right: 13px solid #333;
  border-bottom: 10px solid transparent;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

#sidebartoggler {
  display: none; 
}

#sidebartoggler:checked + div.nav {
  left: -1px; 
}

.figure.align-center {
  width: 60em;
  margin-left: -15em;
  text-align: center;
}

.figure img {
  border-radius: 5px 5px 5px 5px;
}

.topic,
.sidebar,
.epigraph,
.admonition {
  background-color: #fffefa;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  clear: both;
  margin: 1em;
  overflow: hidden;
  padding: 1em;
  position: relative;
}

.sidebar {
  float: right;
  width: 15em;
  margin-right: -5em;
  clear: both;
}

.admonition-todo {
  float: right;
  width: 15em;
  margin-right: -20em;
  clear: both;
}

.topic-title,
.sidebar-title,
.admonition-title {
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
}

a.current {
  font-style: italic;
}

#to-do .admonition-todo {
  float: none;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

tr.row-even {
  background-color: #eff0f1;
}

td,
th {
  border: none;
}

th {
  border-bottom: 1px solid #333;
}

hr:after {
  content: "\2766";
  text-align: center;
  display: block;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

a.headerlink {
  display: inline-block;
  left: -1em;
  position: absolute;
  width: 1em;
}

form {
  text-align: center;
}

input {
  border-radius: 5px;
  border: 1px solid #999;
}

input[type="submit"] {
  font-variant: small-caps;
  background-color: #eff0f1;
}

.highlighted::before {
  content: "\261B  ";
  color: #555;
}

.highlighted {
  text-decoration: underline solid #eff0f1;
}

.main-nav h1::after {
  background-image: url('../img/flourish.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 15px;
  content: "";
  display: block;
  height: 15px;
}

article ul,
ul ul {
  padding-left: 1.25em;
}

article ul li,
ul ul li {
  list-style: none;
}

article ul li::before,
ul ul li::before {
  /* Consider also U+2053, SWUNG DASH, here, maybe? */
  content: "\2053";
  display: inline-block;
  margin: -.1em .33em 0 0;
  vertical-align: top;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

  /* ========================
  INTERMEDIATE: IE Fixes
  ======================== */

  .oldie nav a {
    margin: 0 0.7%;
  }

}

@media only screen and (max-width: 768px) {
  .sidebar,
  .admonition-todo {
    float: none;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .figure.align-center {
    width: auto;
    margin-left: auto;
  }

  .figure.align-center img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: auto;
  }

  a.headerlink {
    float: none;
    margin-left: 0.5em;
  }
}

@media only screen and (min-width: 768px) {

  /* ====================
  WIDE: CSS3 Effects
  ==================== */

  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }

/* ============
WIDE: Main
============ */

  .main article {
    width: 30em;
    margin: 0 auto;
  }

  .main aside {
    float: right;
    width: 15em;
  }

  #sidebartoggler:checked + div.nav {
    left: -21em;
  }

  #sidebartoggler:not(:checked) + div.nav {
    left: -1px; 
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.reference.download.internal code {
  font-family: serif;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
