/*
 * trstyle.css_t
 * ~~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- TriAx Corp style theme.
 *
 * :copyright: Copyright 2011 by Sphinx-users.jp, see AUTHORS.
 * :license: MIT, see LICENSE for details.
 *
 */

@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-align: center;
    background-color: white;
    background-image: url(background_b01.png);
    color: #404040;
    padding: 0;
    border-right: 1px solid #659835;
    border-left: 1px solid #659835;

    margin: 0px 40px 0px 40px;
    min-width: 740px;
}

div.document {
    background-color: white;
    text-align: left;
    background-repeat: repeat-x;
}

div.bodywrapper {
    margin: 0 0 0 240px;
    border-left: 1px solid #ccc;
}

div.body {
    margin: 0;
    padding: 0.5em 20px 20px 20px;
}
div.bodywrapper {
    margin: 0 240px 0 0;
    border-right: 1px solid #ccc;
}

div.related {
    font-size: 1em;
}

div.related ul {
    background-color: #659835;
    height: 2em;
}

div.related ul li {
    text: white;
    margin: 0;
    padding: 0;
    height: 2em;
    float: left;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 1.75em;
    color: #fff;
}

div.related ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

div.sphinxsidebarwrapper {
    padding: 0;
}

div.sphinxsidebar {
    margin: 0;
    padding: 0.5em 12px 12px 12px;
    width: 210px;
    float: right;
    font-size: 1em;
    text-align: left;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    margin: 1em 0 0.5em 0;
    font-size: 1em;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border: 1px solid #659835;
    background-color: #659835;
}

div.sphinxsidebar h3 a {
    color: white;
}

div.sphinxsidebar ul {
    padding-left: 1.5em;
    margin-top: 7px;
    padding: 0;
    line-height: 130%;
}

div.sphinxsidebar ul ul {
    margin-left: 20px;
}

div.sphinxsidebar input {
    border: 1px solid #659835;
}

div.footer {
    background-color: #555;
    border-top: 10px solid #363E3E;
    color: white;
    padding: 10px 8px 5px 0;
    clear: both;
    font-size: 0.8em;
    text-align: right;
}

div.footer a {
    color: #AAF091;
    text-decoration: underline;
}

/* -- body styles ----------------------------------------------------------- */

p {
    margin: 0.8em 0 0.5em 0;
}

a {
    color: #659835;
    text-decoration: none;
}

a:hover {
    color: #659835;
    text-decoration: underline;
}

div.body a {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #659835;
    font-weight: bold;
}

h1 {
    margin: 0;
    padding: 0.7em 0 0.3em 0;
    font-size: 2.0em;
}

h2 {
    margin: 1.3em 0 0.2em 0;
    font-size: 1.35em;
    padding-bottom: .5em;
    border-bottom: 1px solid #659835;
}

h3 {
    margin: 1em 0 0.2em 0;
    font-size: 1.2em;
    padding-bottom: .3em;
    border-bottom: 1px solid #CCCCCC;
}

h4 {
    margin: 1em 0 0.2em 0;
    font-size: 1.0em;
    padding-bottom: .3em;
}

h5 {
    margin: 1em 0 0.2em 0;
    font-size: 0.85em;
    padding-bottom: .3em;
}

h6 {
    margin: 1em 0 0.2em 0;
    font-size: 0.6em;
    padding-bottom: .3em;
}


div.body h1 a.headerlink, div.body h2 a.headerlink, div.body h3 a.headerlink,
div.body h4 a.headerlink, div.body h5 a.headerlink, div.body h6 a.headerlink {
    color: #ddd!important;
}

h1 a.anchor, h2 a.anchor, h3 a.anchor,
h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa!important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
    color: red;
    background-color: #eee;
}

a.headerlink {
    color: #c60f0f!important;
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none!important;
}

a.headerlink:hover {
    background-color: #ccc;
    color: white!important;
}

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

tt {
    background-color: #F2F2F2;
    border-bottom: 1px solid #ddd;
    color: #333;
}

tt.descname, tt.descclassname, tt.xref {
    border: 0;
}

hr {
    border: 1px solid #abc;
    margin: 2em;
}

a tt {
    border: 0;
    color: #CA7900;
}

a tt:hover {
    color: #2491CF;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    border-right: 5px solid #ccc;
    border-left: 5px solid #ccc;
    background-color: #f8f8f8;
}

pre a {
    color: inherit;
    text-decoration: underline;
}

td.linenos pre {
    padding: 0.5em 0;
}

div.quotebar {
    background-color: #f8f8f8;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

div.topic {
    background-color: #f8f8f8;
}

table {
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
}

table td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

/* -- admonition styles ----------------------------------------------------------- */
div.admonition {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid #57A957;
    background-color: #D1EED1;
    padding: 0;
}

div.admonition p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title {
    margin: 0;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border-bottom: 1px solid #57A957;
    font-weight: bold;
    background-color: #57A957;
}

div.admonition ul, div.admonition ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}

/* -- danger, error -- */
div.danger,
div.error {
    background-color: #FDDFDE;
    border: 3px solid #C43C35;
}

div.danger p.admonition-title,
div.error p.admonition-title {
    background-color: #C43C35;
    border-bottom: 3px solid #C43C35;
}

/* -- warning, caution, attention -- */
div.warning,
div.caution,
div.attention {
    background-color: #FDDFDE;
    border: 1px solid #C43C35;
}

div.warning p.admonition-title,
div.caution p.admonition-title,
div.attention p.admonition-title {
    background-color: #C43C35;
    border-bottom: 1px solid #C43C35;
}

/* -- note, important -- */
div.note,
div.important {
    background-color: #FDF5D9;
    border: 1px solid #EEDC94;
}

div.note p.admonition-title,
div.important p.admonition-title {
    background-color: #EEDC94;
    border-bottom: 1px solid #EEDC94;
    color: #404040;
}

/* -- admonition-todo -- */
div.admonition-todo {
    background-color: #DDF4FB;
    border: 1px solid #339BB9;
}

div.admonition-todo p.admonition-title {
    background-color: #339BB9;
    border-bottom: 1px solid #339BB9;
}


div.versioninfo {
    margin: 1em 0 0 0;
    border: 1px solid #ccc;
    background-color: #DDEAF0;
    padding: 8px;
    line-height: 1.3em;
    font-size: 0.9em;
}

.viewcode-back {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

p.versionchanged span.versionmodified {
    font-size: 0.9em;
    margin-right: 0.2em;
    padding: 0.1em;
    background-color: #DCE6A0;
}

/* -- table styles ---------------------------------------------------------- */

table.docutils {
    margin: 1em 0;
    padding: 0;
    border: 1px solid white;
    background-color: #f7f7f7;
}

table.docutils td, table.docutils th {
    padding: 1px 8px 1px 5px;
    border-top: 0;
    border-left: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

table.docutils td p {
    margin-top: 0;
    margin-bottom: 0.3em;
}

table.field-list td, table.field-list th {
    border: 0 !important;
}

table.footnote td, table.footnote th {
    border: 0 !important;
}

th {
    color: white;
    text-align: left;
    padding-right: 5px;
    background-color: #82A0BE;
}

/* -- end ------------------------------------------------------------------- */