@import url("theme.css");

.wy-side-nav-search{
    background-color: #595C5E;
}

.wy-side-nav-search input[type=text] {
    border-color: #595C5E;
}

@media screen and (min-width: 768px) {
.wy-nav-side{
    width: 224px;
}
.wy-nav-content-wrap{
    margin-left: 200px;
    background: #343131;
}
}
@media screen and (max-width: 768px) {
    .wy-nav-content{
	background-color: #343131;
    }
}

.wy-nav-top{
    background-color: #595C5E;
}
.wy-nav-content{
    padding-top: 1%;
    max-width: 100%;
    background-color: #343131;
}

.rst-content{
    margin-left: -3%;
}

pre{
    font-size: 0.9em;
    padding: 1%;
}

pre > span,
pre > p{
    margin: 0;
    font-size: 1em;
}

pre > span{
    margin: 0;
}

.hentry{
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 2px solid #343131;
}

.entry-container{
    background-color: #fff; /*#EAEAEA; */
    border-radius: 3px;
    /* -webkit-box-shadow: 0 0 10px 8px rgba(50, 50, 50, 0.75); */
    /* -moz-box-shadow:    0 0 10px 8px rgba(50, 50, 50, 0.75); */
    /* box-shadow:         0 0 10px 8px rgba(50, 50, 50, 0.75); */
    -webkit-box-shadow: 0 0 10px 8px rgba(2, 2, 2, 0.36);
    -moz-box-shadow: 0 0 10px 8px rgba(2, 2, 2, 0.36);
    box-shadow: 0 0 10px 8px rgba(2, 2, 2, 0.36);
    position: relative;
    z-index: 210;
}

.entry-content{
    margin-right: 3%;
}

.wy-side-nav-search{
    padding:0.639em
}


.wy-menu-vertical a:hover{
    -webkit-box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.30);
    -moz-box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.30);
    box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.30);
}

.wy-menu-vertical a{
    width: 90%
}

#comments,
#comment-form{
    padding: 20px;
}


@media screen and (max-width: 1330px) {
  .fancybox img{
      width: 310px;          /* 88px / 633px */
      height: 206px;
  }
}

@media screen and (max-width: 1241px) {
  .fancybox img{
      width: 280px;
      height: 186px;
  }
}

@media screen and (max-width: 1154px) {
  .fancybox img{
      width: 260px;
      height: 173px;
  }
}

.expander {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    padding: 4px;
    background: white url(/static/blog/img/fsbtn.png) center center no-repeat;
    z-index: 99999;
    cursor: pointer;
}

/* 340 */
/* .rst-content img { */
/*     margin-top: 8px; */
/*     margin-left: 10px; */
/*     margin-bottom: 5px; */
/* } */

/* 260 */
.rst-content .row img {
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 5px rgba(2, 2, 2, 0.36);
    -moz-box-shadow:    0 0 10px 5px /*rgba(50, 50, 50, 0.75)*/ rgba(2, 2, 2, 0.36);
    box-shadow:         0 0 10px 5px rgba(2, 2, 2, 0.36);

}

.rst-content{
    z-index: 210;
    margin-top: -60px;
}

h2 a,
h2 a:visited,
h2 a:hover{
    color: #404040;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
    color: #b3b3b3;
    background: #4e4a4a;
    box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.30);
    border: none;
}

.wy-menu-vertical li.current {
    background: #343131;
    border: none;
}

.wy-menu-vertical li.current a{
    border:none
}

.wy-alert.wy-alert-info .wy-alert-title, .rst-content .note .wy-alert-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .rst-content .note .admonition-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .seealso .admonition-title, .rst-content .wy-alert-info.admonition-todo .admonition-title {
    background: #47494a;
}

.wy-alert.wy-alert-info, .rst-content .note, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .rst-content .seealso, .rst-content .wy-alert-info.admonition-todo {
    background: #ececec;
}

.wy-menu-vertical li.on a:hover,
.wy-menu-vertical li.current>a:hover {
    background: #4e4a4a;

}

.wy-menu-vertical li.current a:hover {
    background: #4e4a4a;
}

wy-menu-vertical li.toctree-l2.current>a {
    color: #343131 !important;
}

.wy-menu-vertical li.toctree-l2.current>a {
    background: #343131;
    padding: 0.4045em 2.427em;
    box-shadow: none;
}

.highlight{
    background: #000 !important;
}

.highlight pre,
.highlight .mi,
.highlight .go{
    color: #57de4e !important;
    font-size: 0.9em !important;
}

.highlight .n, .highlight .nn,
.highlight .p, .highlight .o,
.highlight .nv,
.highlight .gp{
    color: #57de4e;
}

.highlight .kn{
    color: #47ffff !important;
}

.highlight .nc,
.highlight .nd{
    color: #1c909e;
    font-weight: normal;
}


.highlight .k, .highlight .bp{
    color: #47ffff !important;
}

.highlight .nf,
.highlight .nb{
    color: #210cb9;
}

.highlight .s1, .highlight .s2, .highlight .s,
.highlight .sd{
    color: #FDF5E6;
}

.highlight .c1,
.highlight .c{
    color: #d80e04;
}

.fundo-claro{
    height: 88px;
    background-color: #595C5E;
    margin-left: -10%;
    margin-top: -1.1%;
    margin-right: -10%;
}


@media screen and (max-width: 980px) {
    pre{
	overflow-x: scroll;
    }
}


@media screen and (max-width: 768px){
    .fundo-claro{
	display:none;
    }

    .rst-content{
	z-index: 210;
	margin-top: -20px;
    }

}

.page{
    width: 3%;
    float:left;
}

.previous{
    width: 10%
}

.paginator{
    margin-top: 50px;
    padding-bottom: 25px;
    padding-left: 20px;
}

blockquote {
    font-style: italic;
    margin: 0 4.5em;
    position: relative;
}

blockquote, q {
    quotes: "" "";
}

blockquote:before {
    color: #807f7f;
    content: "\201C";
    display: block;
    font-family: "Droid Serif", "Times New Roman", serif;
    font-size: 48px;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: -15px;
    left: -40px;
}

.flatpage{

}

.bkg-escuro{
    background-color: #343131;
    color: #b3b3b3;
}

.search-topo{
    float: right;
    padding-right: 7%;
    margin-top: -1.5;
}

.fa-home:before, .icon-home:before {
		     content: url('../img/porao-branco.png');
}


/* fundo preto */

.entry-container-escuro{
    background-color: #343131;
    color: #b3b3b3;
    padding: 15px;
}

.entry-container-escuro h2,
.entry-container-escuro h2 a,
.entry-container-escuro h2 a:visited,
.entry-container-escuro h2 a:hover,
.entry-container-escuro h4,
.entry-container-escuro .entry-info abbr{
    color: #F9F4F4;
}


/* fim fundo preto */

.classe-correio textarea{
    width: 60%;
    min-height: 300px;
    margin-left: -39.5%;
    border-radius: 15px;
}
.classe-correio {
    background-color: #343131;
}

.classe-correio .nome-email{
    width: 30%;
    margin-bottom: 10px;
}

/* cor dos links */
a:visited{
    color: #2980B9;
}

.wy-menu-vertical a {
   color: #b3b3b3;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
  color: #fcfcfc;
 }
