.wrapper-content-right .section {
	margin-top: 32px;
}

.wrapper-content-right > .section {
	margin-top: 0px;
}

.toctree {
	padding-left: 0;
	list-style: none;
	padding-bottom: 60px;
}

.toctree li {
	list-style: none;
}

a.current, a.current-active {
	font-weight: bold;
}

.highlight {
	font-size: 14px;
}

.highlight pre {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #f0f0f0 none repeat scroll 0 0;
}

blockquote {
	font-size: 20px;
	border-left: 0px;
	padding: 0px 0px;
}

/** NOTES, etc **/

.caution .admonition-title,
.note .admonition-title,
.tip .admonition-title,
.todo .admonition-title,
.seealso .admonition-title,
.warning .admonition-title {
	padding: 10px 20px;
	font-weight: bold;
	color: #000000;
}

.caution {
	background-color: #ffedcc;
	border-left: 5px solid #f0b37e;
}

.note,
.tip {
	background-color: #ccf2fc;
	border-left: 5px solid #55d4f5;
}

.seealso,
.todo {
	background-color: #e7e7e7;
	border-left: 5px solid #888888;
}

.warning {
	background-color: #ffcdc9;
	border-left: 5px solid #ff5b4d;
}

.caution .admonition-title {
	padding-bottom: 0;
	background-color: #ffedcc;
}

.note .admonition-title,
.tip .admonition-title {
	padding-bottom: 0;
	background-color: #ccf2fc;
}

.seealso .admonition-title,
.todo .admonition-title {
	padding-bottom: 0;
	background-color: #e7e7e7;
}

.warning .admonition-title {
	padding-bottom: 0;
	background-color: #ffcdc9;
}

.todo p,
.seealso p,
.note p,
.tip p,
.warning p,
.caution p {
	padding: 10px 20px;
	margin: 0;
}

.bs-docs-sidenav > li {
	display: none;
}


/** MENUE **/

.bs-docs-sidenav .toctree li {
	padding: 3px 0px;
	line-height: 16px;
}

.bs-docs-sidenav .toctree li.border-top {
	border-top: 1px solid #e7e7e7;
	padding-top: 16px;
	margin-top: 16px;
}

.bs-docs-sidenav .toctree li a {
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	color: black;
}

.bs-docs-sidenav .toctree li.current > a,
.bs-docs-sidenav .toctree li.active > a {
	font-weight: bold;
}
.bs-docs-sidenav ul {
	margin-bottom: 0px;
}
.bs-docs-sidenav .toctree ul ul ul {
	display: none;
}

.bs-docs-sidenav .toctree li.current > ul,
.bs-docs-sidenav .toctree ul li.active > ul {
	display: block !important;
}
.bs-docs-sidenav {
	padding-left: 0px;
}
.bs-docs-sidebar {
	padding: 8px 16px;
}

.affix {
	position: fixed !important;
	top: 20px;
}

#nav-affix {
	overflow-y: auto;
	width: 240px;
}

.wrapper-navleft {
	padding: 0px;
	border: 0px;
}
.wrapper-navleft .bs-docs-sidebar {
	border: 1px solid #e7e7e7;
}
.wrapper-content-right li {
	font-size: 16px;
	line-height: 1.5em;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    border: 0;
}

a code {
    border: 0;
    font-weight: normal;
}

div.topic {
    border: 0;
}
