@charset "UTF-8";
@import 'bootstrap.css';
@import 'bootstrap-icons/bootstrap-icons.css';
@import 'conestack-vars.css';
body {
  background-color: var(--bs-body-bg);
}

#header {
  color: var(--cs-color);
  background: var(--cs-bg-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  height: 64px;
}
#header button[btn-title]:hover::after {
  content: attr(btn-title);
  color: var(--bs-gray-600);
  font-size: 13px;
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px solid var(--bs-gray-200);
  background: var(--bs-white);
  position: absolute;
  z-index: 1000;
  top: 30px;
}

#logo, #logo:active, #logo:hover, #logo:visited {
  margin-left: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--cs-color);
  text-decoration: none;
}
@media (max-width: 768px) {
  #logo {
    margin-left: 1rem !important;
  }
}
@media (max-width: 400px) {
  #logo {
    max-width: calc(100% - 100px) !important;
  }
}
#logo > img {
  height: 40px;
}
#logo > span {
  font-size: 1.3em;
}

#searchbox {
  max-width: 300px;
}
@media (max-width: 768px) {
  #searchbox {
    max-width: none;
    color: black;
    margin-right: 0px !important;
  }
}
#searchbox form.search {
  margin-bottom: 0;
}

@media (max-width: 400px) {
  #cs-ext-links {
    display: none !important;
  }
}
@media (max-width: 768px) {
  #cs-ext-links {
    margin-left: auto;
  }
}
#cs-ext-links .nav-link {
  height: 100%;
}
#cs-ext-links .nav-item:hover::after {
  content: attr(data-title);
  color: var(--bs-gray-600);
  font-size: 13px;
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px solid var(--bs-gray-200);
  background: var(--bs-white);
  position: absolute;
  z-index: 1000;
}
#cs-ext-links svg {
  width: 24px;
}
#cs-ext-links path {
  fill: var(--cs-color) !important;
}

#navbar-toggle {
  color: var(--cs-color);
  opacity: 0.6;
}

#cs-mobile-menu {
  background: var(--cs-bg-color);
  z-index: 1000;
}
@media (min-width: 769px) {
  #cs-mobile-menu {
    display: none;
  }
}
#cs-mobile-menu *:not(#searchbox *) {
  color: var(--cs-color);
}
#cs-mobile-menu .cs-mobile-toc {
  margin-top: 1rem;
}
#cs-mobile-menu .cs-mobile-toc ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
#cs-mobile-menu .cs-mobile-toc ul li {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 110%;
}
#cs-mobile-menu .cs-mobile-toc ul li a {
  color: var(--cs-color);
  text-decoration: none;
}
#cs-mobile-menu .cs-mobile-toc ul li.current a {
  font-weight: bold;
}

#cs-sidebar {
  grid-area: sidebar;
  background: white;
  width: fit-content;
  min-width: 180px;
  max-height: calc(100vh - 8rem);
  height: max-content;
  position: sticky;
  top: 1rem;
  overflow-y: auto;
}
@media (max-width: 768px) {
  #cs-sidebar {
    display: none;
  }
}

@media (min-width: 769px) {
  .cs-nav-toc {
    display: block !important;
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    font-weight: 600;
  }
}
.cs-nav-toc a,
.cs-nav-toc a:visited,
.cs-nav-toc a:active,
.cs-nav-toc a:hover {
  text-decoration: none;
  color: var(--bs-gray-800);
}
.cs-nav-toc ul {
  list-style: none;
  margin-bottom: 0.2rem;
  padding-left: 0;
}
.cs-nav-toc ul ul {
  padding-left: 1.2rem;
}
.cs-nav-toc li.toctree-l1 {
  position: relative;
  font-weight: 600;
  margin-bottom: 0.3rem;
  margin-left: 20px;
  text-indent: -10px;
}
.cs-nav-toc li.toctree-l1.current > a {
  color: var(--cs-bg-color);
}
.cs-nav-toc li.toctree-l1.current ul {
  display: block;
}
.cs-nav-toc li.toctree-l1 ul {
  display: none;
}
.cs-nav-toc li.toctree-l1 li {
  font-weight: 300;
}
.cs-nav-toc li.toctree-l1 > a::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f285";
  margin-right: 0.2rem;
  color: var(--bs-gray-800);
}
.cs-nav-toc li.toctree-l1 > a.current::before, .cs-nav-toc li.toctree-l1 > a.expanded::before {
  content: "\f282";
}
.cs-nav-toc li.toctree-l1 > a.collapsed::before {
  content: "\f285" !important;
}
.cs-nav-toc li.toctree-l1 > span.toggle {
  position: absolute;
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  left: -22px;
  top: 2px;
}
.cs-nav-toc li.toctree-l1 > span.toggle::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f285";
  opacity: 0;
}
.cs-nav-toc li.toctree-l2 a {
  font-size: 14px;
}
.cs-nav-toc li.toctree-l2 a, .cs-nav-toc li.toctree-l2 a:visited, .cs-nav-toc li.toctree-l2 a:active, .cs-nav-toc li.toctree-l2 a:hover {
  color: var(--bs-gray-700);
}
.cs-nav-toc li.toctree-l2 a.active, .cs-nav-toc li.toctree-l2 a.active:visited, .cs-nav-toc li.toctree-l2 a.active:active, .cs-nav-toc li.toctree-l2 a.active:hover {
  color: var(--bs-gray-700);
  font-weight: bold;
}

#cs-layout {
  min-height: calc(100vh - 19rem);
}
@media (min-width: 992px) {
  #cs-layout {
    grid-template-columns: 1fr 10fr !important;
  }
}
@media (min-width: 769px) {
  #cs-layout {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 4fr;
  }
}
@media (max-width: 768px) {
  #cs-layout {
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  #cs-layout, #cs-nav {
    max-width: var(--layout-width) !important;
  }

  #cs-sidebar {
    min-width: var(--sidebar-left-width) !important;
  }
}
.cs-main {
  gap: inherit;
  display: grid;
  grid-area: main;
  grid-template-areas: "content toc";
  grid-template-columns: minmax(0, 4fr) 1fr;
  height: min-content;
}
@media (max-width: 992px) {
  .cs-main {
    grid-template-columns: minmax(0, auto);
    grid-template-rows: auto 1fr;
  }
}
.cs-main .highlighted {
  background: rgba(13, 110, 253, 0.2);
}

.cs-content {
  grid-area: content;
  height: fit-content;
}
.cs-content #search-results {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.cs-content .headerlink {
  text-decoration: none;
  padding-left: 8px;
  opacity: 0;
  color: var(--bs-blue);
}
.cs-content .highlight-rst {
  overflow: auto;
}
.cs-content .highlight pre,
.cs-content pre.literal-block {
  font-size: 14px;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.cs-content h1 {
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 3rem;
  color: var(--bs-gray-800);
}
.cs-content h3 {
  font-size: 1.5rem;
}
.cs-content h2, .cs-content h3, .cs-content h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: var(--bs-gray-700);
  font-weight: 500;
}
.cs-content h2:hover .headerlink, .cs-content h3:hover .headerlink, .cs-content h4:hover .headerlink {
  opacity: 1;
}

#scrolltop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 1rem;
  left: calc(100vw - 1rem);
  background: var(--cs-bg-color);
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  color: var(--cs-color);
  box-shadow: -2px 2px 12px #00000031;
}

footer .previous-chapter::before {
  content: "<< ";
}
footer .next-chapter::after {
  content: ">> ";
}

@media (max-width: 992px) {
  .container.footer {
    max-width: 100%;
  }
}
.cs-main .admonition {
  margin: 1rem auto;
  padding: 0 0.5rem 0.5rem;
  background: white;
  border-radius: 0.2rem;
  border-left: 10px solid var(--bs-gray-600);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05), 0 0 0.0625rem rgba(0, 0, 0, 0.1);
  font-size: 14px;
  overflow: hidden;
  page-break-inside: avoid;
}
.cs-main .admonition p.admonition-title {
  position: relative;
  margin: 0 -0.5rem 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bs-gray-200);
  line-height: 1.3;
}
.cs-main .admonition p.admonition-title:before {
  content: "\f43c";
  position: absolute;
  left: 0.5rem;
  font-size: 16px;
  font-family: "bootstrap-icons";
  color: var(--bs-gray-600);
}
.cs-main .admonition.attention {
  border-left-color: #ff3a00;
}
.cs-main .admonition.attention > .admonition-title {
  background: rgba(255, 58, 0, 0.2);
}
.cs-main .admonition.attention > .admonition-title:before {
  content: "\f332";
  color: #ff3a00;
}
.cs-main .admonition.danger {
  border-left-color: #ff0000;
}
.cs-main .admonition.danger > .admonition-title {
  background: rgba(255, 0, 0, 0.25);
}
.cs-main .admonition.danger > .admonition-title:before {
  content: "\f532";
  color: #ff0000;
}
.cs-main .admonition.error {
  border-left-color: #ff3a00;
}
.cs-main .admonition.error > .admonition-title {
  background: rgba(255, 58, 0, 0.2);
}
.cs-main .admonition.error > .admonition-title:before {
  content: "\f622";
  color: #ff3a00;
}
.cs-main .admonition.caution {
  border-left-color: var(--bs-orange);
}
.cs-main .admonition.caution > .admonition-title {
  background: rgba(253, 126, 20, 0.2);
}
.cs-main .admonition.caution > .admonition-title:before {
  content: "\f46e";
  color: var(--bs-orange);
}
.cs-main .admonition.warning {
  border-left-color: var(--bs-orange);
}
.cs-main .admonition.warning > .admonition-title {
  background: rgba(253, 126, 20, 0.2);
}
.cs-main .admonition.warning > .admonition-title:before {
  content: "\f33a";
  color: var(--bs-orange);
}
.cs-main .admonition.hint {
  border-left-color: var(--bs-teal);
}
.cs-main .admonition.hint > .admonition-title {
  background: rgba(32, 201, 151, 0.2);
}
.cs-main .admonition.hint > .admonition-title:before {
  content: "\f504";
  color: var(--bs-teal);
}
.cs-main .admonition.tip {
  border-left-color: var(--bs-teal);
}
.cs-main .admonition.tip > .admonition-title {
  background: rgba(32, 201, 151, 0.2);
}
.cs-main .admonition.tip > .admonition-title:before {
  content: "\f406";
  color: var(--bs-teal);
}
.cs-main .admonition.important {
  border-left-color: var(--bs-info);
}
.cs-main .admonition.important > .admonition-title {
  background: rgba(13, 202, 240, 0.2);
}
.cs-main .admonition.important > .admonition-title:before {
  content: "\f400";
  color: var(--bs-info);
}
.cs-main .admonition.note {
  border-left-color: var(--bs-primary);
}
.cs-main .admonition.note > .admonition-title {
  background: rgba(13, 110, 253, 0.2);
}
.cs-main .admonition.note > .admonition-title:before {
  content: "\f4c9";
  color: var(--bs-primary);
}

.cs-content table {
  caption-side: top;
  overflow-x: auto;
  display: block;
  margin-bottom: 2rem;
  max-width: fit-content;
  max-width: -moz-fit-content;
}
.cs-content table caption {
  border-bottom: 1px solid var(--bs-gray-400);
}
.cs-content table.align-default {
  text-align: initial;
}
.cs-content table thead {
  background: var(--bs-gray-100);
  border-top: none !important;
}
.cs-content table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.cs-content table tr:first-child {
  border-top: none !important;
}
.cs-content table tr:first-child > td {
  border-top: none;
}
.cs-content table tr > td:first-child {
  border-left: none !important;
}
.cs-content table .stub {
  background: var(--bs-gray-100);
}
.cs-content table.docutils {
  border-radius: 0.3rem;
  border: 1px solid var(--bs-gray-400);
  border-collapse: collapse;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05), 0 0 0.0625rem rgba(0, 0, 0, 0.1);
}
.cs-content table.docutils td {
  background: var(--bs-white);
}
.cs-content table.docutils td, .cs-content table.docutils th {
  padding: 0 0.25rem;
  border-top: 1px solid var(--bs-gray-400);
  border-left: 1px solid var(--bs-gray-400);
}
.cs-content table.docutils td.head, .cs-content table.docutils th.head {
  border-top: none;
  border-bottom: 1px solid var(--bs-gray-400);
}
.cs-content table.docutils td:first-child,
.cs-content table.docutils th:first-child {
  border-left: none;
}
.cs-content table.docutils td p, .cs-content table.docutils th p {
  margin: 0.25rem;
}

.cs-content ol > li > p,
.cs-content ul > li > p {
  margin: 0.2rem 0;
}
.cs-content .hlist tr {
  display: flex;
  vertical-align: top;
  border-color: inherit;
}
.cs-content .hlist td {
  position: relative;
  padding: 1rem;
  padding-left: 0;
  border-radius: 5px;
  margin-right: 1rem;
}
.cs-content .hlist td:first-child {
  border: none !important;
}
.cs-content .hlist td > ul {
  list-style: none;
  padding-right: 1rem;
}
.cs-content .hlist td > ul li::before {
  content: "•";
  position: absolute;
  font-size: 25px;
  transform: translate(-1.5rem, -0.3rem);
}
.cs-content .hlist td > ul img {
  padding-bottom: 1rem;
}
.cs-content .hlist td > ul figcaption {
  border-top: 1px solid var(--bs-gray-400);
}

.cs-content dl.class > dt .property,
.cs-content dl.enum-class > dt .property,
.cs-content dl.enum-struct > dt .property,
.cs-content dl.enum > dt .property,
.cs-content dl.exception > dt .property,
.cs-content dl.function > dt .property,
.cs-content dl.method > dt .property,
.cs-content dl.type > dt .property {
  color: var(--bs-red);
  font-weight: 400;
  padding-right: 0.25rem;
}
.cs-content .sig-prename {
  font-weight: 400;
  color: var(--bs-blue);
}
.cs-content .sig-name {
  font-weight: 700;
  color: var(--bs-blue);
}
.cs-content .sig-param {
  font-weight: 400;
  color: var(--bs-gray-600);
}
.cs-content #api-documentation {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.cs-local-toc {
  grid-area: toc;
  min-width: min-content;
}
@media (max-width: 991px) {
  .cs-local-toc {
    display: none;
  }
}
@media (min-width: 992px) {
  .cs-local-toc {
    position: sticky;
    top: 1rem;
    right: 0;
    z-index: 2;
    overflow-y: auto;
    min-height: calc(100vh - 30rem);
    height: max-content;
    max-height: calc(100vh - 8rem);
    width: min-content;
    min-width: var(--sidebar-right-width) !important;
  }
}
.cs-local-toc nav {
  font-size: 0.875rem;
}
.cs-local-toc nav ul {
  padding-left: 0;
  list-style: none;
}
.cs-local-toc nav ul ul {
  padding-left: 1rem;
  margin-top: 0.25rem;
}
.cs-local-toc nav li {
  margin-bottom: 0.25rem;
}
.cs-local-toc nav a {
  color: inherit;
}
.cs-local-toc nav a:not(:hover) {
  text-decoration: none;
}
.cs-local-toc nav a code {
  font: inherit;
}

.cs-content section .sidebar {
  float: right;
  clear: right;
  display: flow-root;
  width: 30%;
  margin-left: 1rem;
  margin-right: 0;
  border-radius: 0.2rem;
  background-color: #f8f9fa;
  border: 1px solid var(--bs-gray-400);
}
.cs-content section .sidebar .sidebar-title {
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: 500;
}
.cs-content section .sidebar > *:not(table) {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cs-content section .sidebar img {
  width: 100%;
}
.cs-content section .sidebar p {
  margin-top: 1rem;
}

.cs-content .footnote-reference {
  font-size: 10px;
  vertical-align: super;
}
.cs-content dl.footnote {
  font-size: 14px;
  font-weight: 300;
  display: grid;
  grid-template-columns: max-content auto;
}
.cs-content dl.footnote .field-list dt,
.cs-content dl.footnote .option-list dt,
.cs-content dl.footnote dl.footnote dt,
.cs-content dl.footnote dl.glossary dt,
.cs-content dl.footnote dl.simple dt,
.cs-content dl.footnote dl:not([class]) dt {
  font-weight: 300 !important;
  margin-top: 0.25rem;
}
.cs-content dl.footnote dt.label {
  font-weight: 300;
}
.cs-content dl.footnote dt.label > .brackets {
  margin-right: 0.2rem;
}
.cs-content dl.footnote dt.brackets:before {
  content: "[";
}
.cs-content dl.footnote dt.brackets:after {
  content: "]";
}
.cs-content dl.footnote dd {
  display: block;
  margin-inline-start: 40px;
  margin-top: 0;
}

.cs-content p.rubric {
  text-transform: uppercase;
  font-size: var(--font-size--small);
}
.cs-content .align-default,
.cs-content .align-center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.cs-content .math {
  overflow: auto;
}
.cs-content p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.cs-content dd > p {
  margin-top: 0;
}
.cs-content dd {
  display: block;
  margin-inline-start: 2rem;
  margin-top: 0.3rem;
  font-size: 0.96rem;
}
.cs-content dd > p {
  margin-bottom: 0.2rem;
}
.cs-content dl {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}
.cs-content dt {
  color: var(--bs-gray-700);
}
.cs-content a > span.problematic {
  color: var(--bs-danger);
  text-decoration: underline;
}
.cs-content .centered {
  text-align: center;
}
.cs-content img {
  max-width: -webkit-fill-available;
  max-width: 100%;
}
.cs-content blockquote {
  border-left: 1px solid var(--bs-gray-700);
  color: var(--bs-gray-700);
  font-style: italic;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
}
.cs-content caption {
  text-align: center;
  color: var(--bs-gray-800);
  font-size: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.35rem;
}
.cs-content a > code {
  color: var(--bs-blue) !important;
}
.cs-content span.menuselection {
  background: rgba(102, 16, 242, 0.1);
  border-radius: 0.2rem;
  font-size: 0.85em;
  padding: 0 0.2rem;
  border: 1px solid rgba(102, 16, 242, 0.1);
}
.cs-content span.guilabel {
  background: rgba(13, 110, 253, 0.1);
  padding: 0 0.3rem;
  border-radius: 0.2rem;
  font-size: 0.85rem;
  border: 1px solid rgba(13, 110, 253, 0.4);
}
.cs-content span.classifier {
  color: var(--bs-indigo);
  padding-inline-start: 5px;
}
.cs-content kbd:not(.compound) {
  padding: 0.1rem 0.4em;
  font-size: 0.8em;
  color: var(--bs-gray-800);
  background: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-400);
  box-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.5), inset 0 0 0 0.125rem white;
  border-radius: 0.2rem;
  font-weight: 400;
}
.cs-content kbd.compound {
  background: none;
  color: var(--bs-gray-800);
  padding: 0;
  border-radius: 0;
  font-size: 1em;
}

.cs-content pre.literal-block {
  background: #f8f9fa;
  margin-right: var(--bs-gutter-x, 0.75rem);
  margin-left: var(--bs-gutter-x, 0.75rem);
}
.cs-content .highlight,
.cs-content pre.literal-block {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 0.25rem;
  display: flow-root;
}
.cs-content .highlight .copy-literal-block,
.cs-content pre.literal-block .copy-literal-block {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.65rem;
  border-radius: 0.2rem;
}
.cs-content .highlight .copy-literal-block:hover::after,
.cs-content pre.literal-block .copy-literal-block:hover::after {
  content: attr(data-text);
  color: var(--bs-gray-600);
  font-size: 13px;
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px solid var(--bs-gray-200);
  background: var(--bs-white);
  position: absolute;
  z-index: 1000;
  transform: translate(calc(-50% - 0.75rem), -120%);
}
.cs-content code.literal {
  background: #f8f9fa;
  border: 1px solid var(--bs-gray-400);
  color: black;
  border-radius: 0.2em;
  font-size: 12px;
  padding: 0.1em 0.2em;
}

/*# sourceMappingURL=conestack.css.map */
