/*
 * ovs.css_t
 *
 * :copyright: Copyright 2016, Stephen Finucane <stephen@that.guru>
 * :license: Apache 2.0 License
 */

@import url("basic.css")

/* General */

body {
    background-color: white;
}

*:before,
*:after {
    box-sizing: border-box;
}

div {
    vertical-align:top;
}

h1::after {
    width: 100px;
    height: 6px;
    background-color: #4f8a49;
    content: '';
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

p {
    vertical-align:baseline;
}

a {
    text-decoration: none;
    font-weight: 700;
}

img {
    max-width:100%;
    max-height:100%;
}

pre {
    overflow: auto;
}

a:hover {
    color:#444;
}

a:visited {
    color:#447099;
}

a:link {
    color:#447099;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* For IE 6/7 */
}

/* Logo */

#logo img {
    height: 100px;
    width: 154px;
}

/* Navbar
 *
 * Based on tutorial from w3bits.com
 *
 *   http://w3bits.com/css-responsive-nav-menu/
 */

.subnav {
    background-color: #23241f;
    margin: 0;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu .main-menu {
    display: none;
}

#tm:checked + .main-menu {
    display: block;
}

#menu input[type="checkbox"],
#menu ul span.drop-icon {
    display: none;
}

#menu li,
#toggle-menu,
#menu .sub-menu {
    border-style: solid;
    border-color: rgba(0, 0, 0, .05);
}

#menu li,
#toggle-menu {
    border-width: 0 0 1px;
}

#menu .sub-menu {
    background-color: #444;
    border-width: 1px 1px 0;
    margin: 0 1em;
}

#menu .sub-menu li:last-child {
    border-width: 0;
}

#menu li,
#toggle-menu,
#menu a {
    position: relative;
    display: block;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}

#toggle-menu {
    background: #333;
}

#toggle-menu,
#menu a {
    padding: 1em 1.5em;
}

#menu a {
    transition: all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
    background-color: white;
    color: #09c;
}

#menu .sub-menu {
    display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
    display: block;
}

#menu .sub-menu a:hover {
    color: #444;
}

#toggle-menu .drop-icon,
#menu li label.drop-icon {
    position: absolute;
    right: 0;
    top: 0;
}

#menu label.drop-icon, #toggle-menu span.drop-icon {
    padding: 1em;
    font-size: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, .125);
    text-shadow: 0 0 0 transparent;
    color: rgba(255, 255, 255, .75);
}

@media only screen and (min-width: 1024px) {
    #menu .main-menu {
        display: block;
    }

    #toggle-menu,
    #menu label.drop-icon {
        display: none;
    }

    #menu ul span.drop-icon {
        display: inline-block;
    }

    #menu li {
        float: left;
        border-width: 0 1px 0 0;
    }

    #menu .sub-menu li {
        float: none;
    }

    #menu .sub-menu {
        border-width: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 12em;
        z-index: 3000;
    }

    #menu .sub-menu,
    #menu input[type="checkbox"]:checked + .sub-menu {
        display: none;
    }

    #menu .sub-menu li {
        border-width: 0 0 1px;
    }

    #menu .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    #menu .sub-menu .drop-icon {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
    }

    #menu li:hover > input[type="checkbox"] + .sub-menu {
        display: block;
    }
}

/* Browser Upgrade Prompt */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Footer */

footer[role="contentinfo"] {
    background: #404042;
    overflow:auto;
    padding:10px;
}

.footer-piece {
    display:inline-block;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  display: inline-block;
}

.footer-links li+li {
  margin-left: 10px;
}

/* Grid */

.container > .section {
    padding: 0 20px;
}

.section {
    clear: both;
    padding: 0;
    margin: 0;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

.col-1-1,
.col-1-2,
.col-1-3,
.col-2-3 {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col-1-1:first-child,
.col-1-2:first-child,
.col-1-3:first-child,
.col-2-3:first-child{
    margin-left: 0;
}

.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: 49.2%;
}

.col-1-3 {
    width: 32.26%;
}

.col-2-3 {
    width: 66.13%;
}

@media only screen and (max-width: 768px) {
    .col-1-1,
    .col-1-2,
    .col-1-3,
    .col-2-3{
        width: 100%;
        margin: 10px 0;
    }
}

/* Tables */

.left {
    text-align:left;
    float:left;
}

.center {
    text-align:center;
    margin:0px auto;
}

.right {
    text-align:right;
    float:right;
}

/* Widgets */

.side-widgets {
    margin-top: 36px;
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

.widget-title {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.widget-body {
    padding: 2px;
}

.widget-body ul {
    padding-left: 10px;
}

/* Search bar */

.search {
    position: relative;
    margin: 1em auto;
}

.search > input[type="text"] {
    display: block;
    box-sizing: content-box;
    height: 20px;
    width: 80%;
    padding: 6px 16% 8px 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px 0;
}

.search > button {
    position: absolute;
    top: 6px;
    right: 10px;
    height: 24px;
    width: 24px;
    padding: 0;
    background: url(search.png);
    background-size: 24px;
    background-repeat: no-repeat;
    border: 0;
}

/* Browse bar */

.browse {
    font-weight: 700;
    font-size: 16px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.browse:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

/* Sphinx overrides */

a.headerlink {
    color: transparent;
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none!important;

}

a.headerlink:hover {
    color: #4f8a49;
}

h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink {
    color: #4f8a49!important;
}

.highlight {
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    margin: 25px 0;
    overflow: auto;
    padding: 10px 20px;
}

.highlight > pre {
    margin: 0;
}

.literal {
    font-weight: 700;
}

div.admonition {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 3px solid #cccccc;
    background-color: #f7f7f7;
    padding: 0;
}

div.admonition p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition li p {
    margin-left: 0;
}

div.admonition pre, div.warning pre {
    margin: 0;
}

div.admonition p.admonition-title {
    margin: 0;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border-bottom: 3px solid #cccccc;
    font-weight: bold;
    background-color: #165e83;
}

div.danger    { border: 3px solid #f0908d; background-color: #f0cfa0; }
div.error     { border: 3px solid #f0908d; background-color: #ede4cd; }
div.warning   { border: 3px solid #f8b862; background-color: #f0cfa0; }
div.caution   { border: 3px solid #f8b862; background-color: #ede4cd; }
div.attention { border: 3px solid #f8b862; background-color: #f3f3f3; }
div.important { border: 3px solid #f0cfa0; background-color: #ede4cd; }
div.note      { border: 3px solid #f0cfa0; background-color: #f3f3f3; }
div.hint      { border: 3px solid #bed2c3; background-color: #f3f3f3; }
div.tip       { border: 3px solid #bed2c3; background-color: #f3f3f3; }

div.danger p.admonition-title, div.error p.admonition-title {
    background-color: #b7282e;
    border-bottom: 3px solid #f0908d;
}

div.caution p.admonition-title,
div.warning p.admonition-title,
div.attention p.admonition-title {
    background-color: #f19072;
    border-bottom: 3px solid #f8b862;
}

div.note p.admonition-title, div.important p.admonition-title {
    background-color: #f8b862;
    border-bottom: 3px solid #f0cfa0;
}

div.hint p.admonition-title, div.tip p.admonition-title {
    background-color: #7ebea5;
    border-bottom: 3px solid #bed2c3;
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}

/* Linux Collaborative Projects header */

.collaborative-projects .gray-diagonal {
    background: url(lf/di_dark_gray.png) repeat 0 0;
}

#cp--logo {
    display:block;
}

.cp--header {
    background: #404042;
    background-image: linear-gradient(to right,#404042 0%,#3b393b 69%);
    display: block;
    height: 30px;
    z-index: 1;
    padding-left: 10px;
}
.cp--header .container {
    padding-top:7px;
}

.cp--footer p {
    font-size: 0.75rem;
    color: #ABABAB;
    margin: 0px;
}