@font-face {
    font-family: 'Hack';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/hack/regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hack';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/hack/regular-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Hack';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/hack/bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Hack';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/hack/bold-italic.ttf') format('truetype');
}
