<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sphinx Themes Previews</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <style>
    .card {
      margin-top: 0.5rem;
      border-bottom: 0;
      border-top: 0;
      border-width: 0.05rem;
      border-style: solid;
      border-image: linear-gradient(to top, #f1f3f5, white 75%) 1 100%;
    }
    .divider {margin: 0;}
    </style>
  </head>

  <body>
    <nav class="navbar bg-primary">
      <section class="navbar-section">
      </section>
      <section class="navbar-section">
        <a href="https://github.com/pradyunsg/sphinx-themes"
           class="text-gray float-right btn btn-link">GitHub</a>
      </section>
    </nav>
    <header class="hero text-center bg-primary">
      <h2>Sphinx Themes</h2>
    </header>
    <main>
      <div class="container">
        <div class="columns">
          {% for theme in themes -%}
          <div class="column col-sm-12 col-md-10 col-mx-auto col-xl-6 col-6 pt-2">
            <div class="card">
              <div class="card-image"><img class="img-responsive text-center"
                  src="preview-images/{{ theme.name }}.jpg" alt="{{ theme.display }} Preview">
              </div>
              <div class="card-header">
                <div class="card-title h5">{{ theme.display }}
                </div>
                <div class="card-subtitle text-gray">
                  {% if theme.pypi != "sphinx" %}
                  Third-party theme (<a class="text-muted" href="https://pypi.org/project/{{ theme.pypi }}">PyPI page</a>)
                  {% elif theme.config == "alabaster" %}
                  Default theme
                  {% else %}
                  Builtin theme
                  {% endif %}
                  <a class="text-primary float-right" href="sample-sites/{{ theme.name }}/">Demo</a>
                </div>
              </div>
            </div>
            <div class="divider"></div>
          </div>
          {%- endfor %}
        </div>
      </div>
    </main>
    <footer>
      <div class="container mt-2 bg-gray text-center">
        <div class="copyright p-2">Copyright &copy; 2020 Pradyun Gedam</div>
      </div>
    </footer>
  </body>

</html>
